<% stuff = {
  "Octocat Generator" => {
    "id" => "octocat-generator",
    "url" => "http://labs.chh.tw/octocat-generator/",
    "images" => ["octocat-generator-1.png", "octocat-generator-2.png"],
    "description" => "點擊註冊按鈕，產生 CSS 製作的 3D 網頁翻轉特效（需要使用 Firefox）。",
    "participate" => "scss, compass, javascript, jquery, photoshop"
  },
  "The Matrix Digit Rain in HTML5 Canvas" => {
    "id" => "the-matrix-",
    "url" => "http://labs.chh.tw/canvas-matrix/",
    "images" => ["canvas-matrix-1.png"],
    "description" => "用 HTML5 Canvas 製作駭客任務經典的「數位瀑布」特效（使用 Webkit 類的瀏覽器效果最佳）。",
    "participate" => "canvas, javascript, jquery"
  },
  "Use Sublime Text" => {
    "id"          => "use-sublime-text",
    "url"         => "http://use.sublimetext.tw",
    "images"      => [ "use-sublimetext-tw-1.png", "use-sublimetext-tw-2.png", "use-sublimetext-tw-3.png" ],
    "description" => "專門分享 Sublime Text 編輯器使用技巧的網誌，佈景主題模擬 Sublime Text 本身的外觀。",
    "participate" => "html, scss, compass, ruby"
  },
  "Sublime Text 手冊" => {
    "id"          => "docs-sublime-text",
    "url"         => "http://docs.sublimetext.tw",
    "images"      => [ "docs-sublimetext-tw-1.png", "docs-sublimetext-tw-2.png", "docs-sublimetext-tw-3.png" ],
    "description" => "2013 年最熱門的程式編輯器 Sublime Text 的中文手冊。",
    "participate" => "html, scss, compass, ruby"
  },
  "Dropbot Theme" => {
    "id"          => "dropbot-theme",
    "url"         => "http://blog.chh.tw",
    "images" => [ "blog-chh-tw-1.png", "blog-chh-tw-2.png", "blog-chh-tw-3.png" ],
    "description" => "一套 Octopress 的佈景主題，更適合中文排版，以及更專注於內容。",
    "participate" => "html, scss, compass, ruby"
  }
} %>

<script type="text/javascript">
if (document.images) {
    <% stuff.each do |k, v| %>
      <% v["images"].each do |i| %>
        img1 = new Image();
        img1.src = "/images/<%= i %>";
      <% end %>
    <% end %>
}
</script>

<section class="row" id="stuff">
  <div class="inner">
    <div class="column4">
      <h2 class="row-title">Stuff I Made</h2>
    </div>

    <div class="column16 last">
      <ul>
        <% stuff.each do |k, v| %>
          <li id="<%= v["id"] %>">
            <% link_to v["url"], :class => "column10", :target => "_blank" do %>
              <%= image_tag "/images/#{v["images"][0]}", :class => "box stuff_img", :alt => k %>
            <% end %>

            <div class="column6 last stuff_info">
              <h3 class="stuff-title"><%= k %></h3>
              <% link_to v["url"], :class => "go", :target => "_blank" do %>
                <i class="fa-icon-external-link-sign"></i>
              <% end %>
              <div class="description">
                <div class="participate"><%= v["participate"] %></div>
                <p><%= v["description"] %></p>
              </div>
              <div class="more">
                <% v["images"].each do |img| %>
                  <a data-target="#<%= v["id"] %>" href="/images/<%= img %>"><i class="fa-icon-desktop"></i></a>
                <% end %>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</section>
